<form #frm="ngForm" class="mt-3">
  <h5 class="bg-warning p-2">THÊM DỰ ÁN</h5>
  <p class="mb-3">
    Tên dự án
    <input
      class="form-control"
      name="tenDuAn"
      ngModel
      required
      minlength="10"
      #name="ngModel"
    />
    <em *ngIf="name.invalid" class="text-danger">
      Nhập Tên dự án chưa đúng.
    </em>
    <span *ngIf="name.errors?.['required']" class="text-danger">
      Tên dự án dài từ 6 ký tự.
    </span>
  </p>
  <p class="mb-3">
    Ngày Start
    <input
      class="form-control"
      type="date"
      name="ngayStart"
      ngModel
      #ngay="ngModel"
      required
    />
    <em *ngIf="ngay.invalid" class="text-danger"> Chưa nhập ngày sinh </em>
  </p>
  <p class="mb-3">
    Tiền
    <input
      class="form-control"
      name="tien"
      ngModel
      type="number"
      #tien1="ngModel"
      maxlength="5"
      required
    />
    <em *ngIf="tien1.invalid" class="text-danger">
      Nhập Tiền dự án chưa đúng.
    </em>
    <span *ngIf="tien1.errors?.['required']" class="text-danger">
      số tiền phải trên 1000.
    </span>
  </p>
  <p class="mb-3">
    Leader
    <select class="form-control" name="leader" ngModel #leader="ngModel" required>
      <option value="" *ngFor="let nv of listNhanVien" [value]="nv.id">
        {{ nv.ho }} {{ nv.ten }}
      </option>
    </select>
    <em *ngIf="leader.invalid" class="text-danger">
        Nhập Tiền dự án chưa đúng.
      </em>
  </p>
  <p class="mb-3">
    Thành viên
    <select multiple size="5" class="form-control" name="thanhvien" ngModel #thanhvien="ngModel" required>
      <option *ngFor="let nv of listNhanVien" [value]="nv.id">
        {{ nv.ho }} {{ nv.ten }}
      </option>
    </select>
    <em *ngIf="thanhvien.invalid" class="text-danger">
      Chưa chọn Tên thành viên.
    </em>
  </p>
  <p>
    <button
      (click)="themDuAn(frm.value)"
      class="btn btn-primary p-2"
      [disabled]="frm.invalid"
    >
      Thêm dự án
    </button>
  </p>
</form>
