<form class="mt-3" #frm="ngForm">
  <h5 class="bg-warning p-2">THÊM NHÂN VIÊN</h5>
  <p class="mb-3">
    Họ
    <input
      class="form-control"
      name="ho"
      ngModel
      #ho="ngModel"
      required
      minlength="10"
    />
    <em *ngIf="ho.invalid" class="text-danger">
      Nhập Họ dự án chưa đúng.
    </em>
    <span *ngIf="ho.errors?.['required']" class="text-danger">
      Họ dự án dài từ 10 ký tự.
    </span>
  </p>
  <p class="mb-3">
    Tên 
    <input class="form-control" name="ten" ngModel minlength="10" #ten="ngModel" required />
    <em *ngIf="ten.invalid" class="text-danger">
        Nhập Tên Nhân viên chưa đúng.
      </em>
      <span *ngIf="ten.errors?.['required']" class="text-danger">
        Tên Nhân viên dài từ 10 ký tự.
      </span>
    </p>
  <p class="mb-3">
    Ngày sinh 
    <input class="form-control" type="date" name="ngaysinh" ngModel #ngaysinh="ngModel" required />
    <em *ngIf="ngaysinh.invalid" class="text-danger">
        Nhập Tên dự án chưa đúng.
      </em>
</p>
  <p class="mb-3">
    Phái
    <select class="form-control" name="phai" ngModel #phai="ngModel" required>
      <option [ngValue]="true">Nam</option>
      <option [ngValue]="false">Nữ</option>
    </select>
    <em *ngIf="phai.invalid" class="text-danger">
        chưa nhập giới tính.
    </em>
  </p>
  <p class="mb-3">
    Khu vực
    <select class="form-control" name="khuvuc" ngModel #khu="ngModel" required>
      <option value="Bắc">Bắc</option>
      <option value="Nam">Nam</option>
      <option value="Trung">Trung</option>
    </select>
    <em *ngIf="khu.invalid" class="text-danger">
        Nhập Tên dự án chưa đúng.
      </em> 
</p>
  <p>
    <button [disabled]="frm.invalid" class="btn btn-primary p-2" (click)="themNV(frm.value)">
      Thêm nhân viên
    </button>
  </p>
</form>
