table {
    thead {
        padding: 10px 0px;
        tr {
            th {
                background-color: rgb(70, 70, 238) !important;
                // padding: 0 15px;
                color: white;
            }
        }
    }
}

.card-text {
    a {
        text-decoration: none;
        margin: 0 5px;
    }
    
    &-edit {
        background-color: rgb(0, 190, 10) !important;
        padding: 5px 10px;
        color: white;
        border-radius: 8px;
    }
    &-delete {
        background-color: rgb(190, 38, 0) !important;
        padding: 5px 10px;
        color: white;
        border-radius: 8px;
    }
}